.user-list {
  width: 100%; 
  max-width: 250px;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.user-list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.user-item {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  transition: background-color 0.2s ease-in-out;
}

.user-item.selected {
  background-color: #ffffff;
}

.user-item:hover {
  background-color: #eae4e4;
}

@media (max-width: 768px) {
  .user-list {
      max-width:20%; 
      border-right: none; 
      border-bottom: 1px solid #ccc; 
  }
  
  .user-list h2 {
      font-size: 18px; 
  }
  .user-item {
      padding: 6px; 
      margin-bottom: 2px;
  }
}
